[build]
  command = "NODE_OPTIONS='--max-old-space-size=4096' pnpm install && pnpm build"

[build.environment]
  NODE_VERSION = "18"
  NPM_FLAGS = "--legacy-peer-deps"

[[plugins]]
  package = "@netlify/plugin-nextjs"
